<mat-card class="mat-elevation-z3">
  <mat-card-header>

    <!--//<img mat-card-avatar src="../../../../assets/products-svgrepo-com.svg" />-->

    <mat-card-title>Update Visa</mat-card-title>
    <mat-card-subtitle>Update Visa Entry</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="visaForm" class="form-container" (ngSubmit)="update()">

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Applicant Name</mat-label>
        <mat-select formControlName="applicantId">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let a of applicant" [value]="a.applicantId">
            {{a.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="visaForm.controls['applicantId'].hasError('required')"><strong>Applicant Name</strong> required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Visa Number</mat-label>
        <input matInput formControlName="visaNumber">
        <mat-error *ngIf="visaForm.controls['visaNumber'].hasError('required')">
          <strong>
            Visa Number
          </strong> required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Reference Number</mat-label>
        <input matInput formControlName="refNumber">
        <mat-error *ngIf="visaForm.controls['refNumber'].hasError('required')">
          <strong>
            Reference Number
          </strong> required
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill" class="f-w">
        <mat-label> Issue Date</mat-label>
        <input matInput formControlName="issueDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="visaForm.controls['issueDate'].hasError('required')"><strong>Issue Date</strong> required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Expiry Date </mat-label>
        <input matInput formControlName="expiryDate" [matDatepicker]="picker1">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="visaForm.controls['expiryDate'].hasError('required')"><strong>Expiry Date</strong> required</mat-error>
      </mat-form-field>


      <div class="f-w mb-1">
        <button type="submit" mat-raised-button color="primary" [disabled]="visaForm.invalid">Update</button>
      </div>
    </form>


  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button [routerLink]="['/visa']">Back to list</a>
  </mat-card-actions>
</mat-card>


