
<mat-card class="mat-elevation-z3">

  <mat-card-header>


    <mat-card-title>Agency</mat-card-title>
    <mat-card-subtitle>List of Agency</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    <div class="right">

      <a mat-mini-fab [routerLink]="['/agency-create']">
        <mat-icon>add</mat-icon>
      </a>
    </div>
    <div class="row mt-2">

      <div class="col">
        <mat-form-field>
          <mat-label>Search by Name</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search by Name" #input>
        </mat-form-field>
      </div>
      <!--<div class="col-4">
        <mat-label>Search by Date</mat-label>
        <input #queryDate
               (change)="filterDate(queryDate.valueAsDate)"
               type="date"
               class="form-control"
               placeholder="Search Medical Center by Date...">
      </div>-->
    </div>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rl">
        <mat-header-cell *matHeaderCellDef mat-sort-header> RL</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rl}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="contactNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.contactNo}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="manager">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Manager</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.manager}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="accountant">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Accountant</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.accountant}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions" class="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>...</mat-header-cell>
        <mat-cell *matCellDef="let element" class="action">
          <a [routerLink]="['/agency-edit',element.agencyId]"><mat-icon>edit</mat-icon></a>
          <button mat-icon-button (click)="confirmDelete(element)"><mat-icon class="red-color">delete</mat-icon></button>
        </mat-cell>

      </ng-container>
      <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnList;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>
