<mat-card class="mat-elevation-z3">
  <mat-card-header>


    <mat-card-title>Add Trade</mat-card-title>
    <mat-card-subtitle>Add new Demand entry</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="tradeForm" class="form-container" (ngSubmit)="insert()">

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Demand</mat-label>
        <mat-select formControlName="demandId">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let d of demand" [value]="d.demandId">
            {{d.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tradeForm.controls['demandId'].hasError('required')"><strong>Demand</strong>
          required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Job Title</mat-label>
        <input matInput formControlName="jobTitle">
        <mat-error *ngIf="tradeForm.controls['jobTitle'].hasError('required')">
          <strong>Job title</strong>
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Male Quota</mat-label>
        <input matInput formControlName="maleQuota" type="number">
        <mat-error *ngIf="tradeForm.controls['maleQuota'].hasError('required')">
          <strong>Male Quota</strong>
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Female Quota</mat-label>
        <input matInput formControlName="femaleQuota" type="number">
        <mat-error *ngIf="tradeForm.controls['femaleQuota'].hasError('required')">
          <strong>Female Quota</strong>
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" type="number">
        <mat-error *ngIf="tradeForm.controls['age'].hasError('required')">
          <strong>Age</strong>
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Salary</mat-label>
        <input matInput formControlName="salary">
        <mat-error *ngIf="tradeForm.controls['salary'].hasError('required')">
          <strong>Salary</strong>
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Currency</mat-label>
        <input matInput formControlName="currency" maxlength="5">
        <mat-error *ngIf="tradeForm.controls['currency'].hasError('required')">
          <strong>Currency</strong>
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Working Hours</mat-label>
        <input matInput formControlName="workingHours" type="number">
        <mat-error *ngIf="tradeForm.controls['workingHours'].hasError('required')">
          <strong>Working Hours</strong>
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Over Time</mat-label>
        <input matInput formControlName="overTime" type="number">
        <mat-error *ngIf="tradeForm.controls['overTime'].hasError('required')">
          <strong>Over Time</strong>
          required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Contract Period</mat-label>
        <input matInput formControlName="contractPeriod">
        <mat-error *ngIf="tradeForm.controls['contractPeriod'].hasError('required')">
          <strong>Contract Period</strong>
          required
        </mat-error>
      </mat-form-field>

      <div class="mat-mdc-text-field-wrapper p-2 mb-4 mdc-text-field--filled">
        <mat-label class="h6 ps-2 text-muted">Food</mat-label>
        <br/>
        <mat-radio-group formControlName="food">
          <mat-radio-button class="pe-2" value="Personal" ng-reflect-checked="true">Personal</mat-radio-button>
          <mat-radio-button class="pe-2" value="Company">Company</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="mat-mdc-text-field-wrapper p-2 mb-1 mdc-text-field--filled">
        <mat-label class="h6 ps-2 text-muted">Accommodation</mat-label>
        <br/>
        <mat-radio-group formControlName="accomodation">
          <mat-radio-button class="pe-2" value="Personal" ng-reflect-checked="true">Personal</mat-radio-button>
          <mat-radio-button class="pe-2" value="Company">Company</mat-radio-button>
        </mat-radio-group>
      </div>




      <div class="f-w mb-1 mt-4">
        <button type="submit" mat-raised-button color="primary" [disabled]="tradeForm.invalid">Save</button>
      </div>
    </form>


  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button [routerLink]="['/trade']">Back to list</a>
  </mat-card-actions>
</mat-card>
