
<mat-card class="mat-elevation-z3">

  <mat-card-header class="row">
    <div class="d-flex justify-content-between">
      <div>
        <mat-card-title>Trade</mat-card-title>
        <mat-card-subtitle>List of Trade</mat-card-subtitle>
      </div>
      <div>
        <div class="right">
          <a mat-mini-fab [routerLink]="['/trade-create']">
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="row mt-2">
      <div class="col">
        <mat-form-field appearance="fill" class="f-w mb-1">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        </mat-form-field>
      </div>
    </div>

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.jobTitle}}</mat-cell>

      </ng-container>
      <ng-container matColumnDef="maleQuota">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Male Quota</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.maleQuota}}</mat-cell>

      </ng-container>
      <ng-container matColumnDef="femaleQuota">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Female Quota</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.femaleQuota}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Age</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="salary">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Salary</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.salary}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="currency">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Currency</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.currency}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="workingHours">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Working Hours</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.workingHours}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="overTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Over Time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.overTime}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="food">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Food</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.food}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="accomodation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Accomodation</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.accomodation}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="contractPeriod">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Contract Period</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.contractPeriod}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="demand">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Demand</mat-header-cell>
        <mat-cell *matCellDef="let element">{{getDemandName(element.demandId)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>...</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="['/trade-edit',element.tradeId]"><mat-icon>edit</mat-icon></a>
          <button mat-icon-button (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
        </mat-cell>

      </ng-container>
      <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnList;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>

