<mat-card class="mat-elevation-z3">
  <mat-card-header>

    <!--//<img mat-card-avatar src="../../../../assets/products-svgrepo-com.svg" />-->

    <mat-card-title>Update DemandIssue</mat-card-title>
    <mat-card-subtitle>Update Demand Issue Entry</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="demandIssueForm" class="form-container" (ngSubmit)="update()">

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="demandIssueForm.controls['title'].hasError('required')">
          <strong>
            name
          </strong> required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Demand Name</mat-label>
        <mat-select formControlName="demandId">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let d of demand" [value]="d.demandId">
            {{d.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="demandIssueForm.controls['demandId'].hasError('required')"><strong>Demand Name</strong> required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
        <mat-error *ngIf="demandIssueForm.controls['description'].hasError('required')">
          <strong>
            Description
          </strong> required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let is of IssueStatus" [value]="is.value">{{is.label}}</mat-option>
        </mat-select>
        <mat-error *ngIf="demandIssueForm.controls['status'].hasError('required')">
          <strong>Status</strong> is required
        </mat-error>
      </mat-form-field>

     

      <mat-form-field appearance="fill" class="f-w">
        <mat-label> Issue Date</mat-label>
        <input matInput formControlName="issueDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="demandIssueForm.controls['issueDate'].hasError('required')"><strong>IssueDate</strong> required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Resolve Date</mat-label>
        <input matInput formControlName="resolveDate" [matDatepicker]="picker1">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="demandIssueForm.controls['resolveDate'].hasError('required')"><strong>Resolve Date</strong> required</mat-error>
      </mat-form-field>


      <div class="f-w mb-1">
        <button type="submit" mat-raised-button color="primary" [disabled]="demandIssueForm.invalid">Update</button>
      </div>
    </form>


  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button [routerLink]="['/demandIssue']">Back to list</a>
  </mat-card-actions>
</mat-card>

