
<mat-card class="mat-elevation-z3">
  <mat-card-header class="row">
    <div class="d-flex justify-content-between">
      <div>
        <mat-card-title>Company</mat-card-title>
        <mat-card-subtitle>List of Company</mat-card-subtitle>
      </div>
      <div>
        <div class="right">
          <a mat-mini-fab [routerLink]="['/company-create']">
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>

    <div class="row mt-2">
      <div class="col">
        <mat-form-field appearance="fill" class="f-w mb-1">
          <mat-label>Search by Name</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search by Name" #input>
        </mat-form-field>
      </div>

    </div>

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.details}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="countryId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
        <mat-cell *matCellDef="let element">{{getCountryName(element.countryId)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" class="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>...</mat-header-cell>
        <mat-cell *matCellDef="let element" class="action">
          <a [routerLink]="['/company-edit',element.companyId]"><mat-icon>edit</mat-icon></a>
          <button mat-icon-button (click)="confirmDelete(element)"><mat-icon class="red-color">delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnList;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>

