.mat-elevation-z3 {
  margin-left: 70px;
  margin-top: 50px;
}
.form-container {
  width: 65%;
  margin: 5px auto 10px auto;
}

.f-w {
  width: 100%;
  margin-bottom: .5rem;
}

.filter {
  flex: 1 1 auto;
}
.action {
  width: 30px;
}

.red-color {
  color: red;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

