
<div class="container p-2">
    <div class="row justify-content-center">
            <MudAvatar Color="Color.Primary">M</MudAvatar>
            <MudAvatar Color="Color.Secondary">R</MudAvatar>
            <MudAvatar Color="Color.Warning">M</MudAvatar>
            <MudAvatar Color="Color.Dark">S</MudAvatar>
    </div>
</div>

@code {

}
