

<mat-card class="mat-elevation-z3">
  <mat-card-header>


    <mat-card-title>Add Applicant</mat-card-title>
    <mat-card-subtitle>Add new Applicant entry</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="applicantForm" class="form-container" (ngSubmit)="insert()">

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="applicantForm.controls['name'].hasError('required')">
              <strong>Name</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Fathers Name</mat-label>
            <input matInput formControlName="fathersName">
            <mat-error *ngIf="applicantForm.controls['fathersName'].hasError('required')">
              <strong>Fathers Name</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Mothers Name</mat-label>
            <input matInput formControlName="mothersName">
            <mat-error *ngIf="applicantForm.controls['mothersName'].hasError('required')">
              <strong>Mothers Name</strong>
              required
            </mat-error>
          </mat-form-field>

          <div class="mat-mdc-text-field-wrapper p-2 mb-4 mdc-text-field--filled">
            <mat-label class="h6 ps-2 text-muted">Spouse</mat-label>
            <mat-radio-group formControlName="food">
              <mat-radio-button class="pe-2" value="Yes" ng-reflect-checked="true">Yes</mat-radio-button>
              <mat-radio-button class="pe-2" value="No">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <!--<mat-form-field appearance="fill" class="f-w mb-1">
    <mat-label>Spouse</mat-label>
    <input matInput formControlName="spouse">
    <mat-error *ngIf="applicantForm.controls['spouse'].hasError('required')">
      <strong>Spouse</strong>
      required
    </mat-error>
  </mat-form-field>-->

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Present Address</mat-label>
            <input matInput formControlName="presentAddress">
            <mat-error *ngIf="applicantForm.controls['presentAddress'].hasError('required')">
              <strong>Present Address</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Permanent Address</mat-label>
            <input matInput formControlName="permanentAddress">
            <mat-error *ngIf="applicantForm.controls['permanentAddress'].hasError('required')">
              <strong>Permanent Address</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w">
            <mat-label>Date Of Brith</mat-label>
            <input matInput formControlName="dateOfBrith" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="applicantForm.controls['dateOfBrith'].hasError('required')"><strong>Date Of Brith</strong> required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="applicantForm.controls['email'].hasError('required')">
              <strong>Email</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Picture</mat-label>
            <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
            <input type="text" readonly matInput formControlName="picture" />
            <input type="file"
                   hidden
                   #f_input
                   (change)="handleFileInputChange($event)" />
            <mat-error>this field is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Height</mat-label>
            <input matInput formControlName="height" type="number">
            <mat-error *ngIf="applicantForm.controls['height'].hasError('required')">
              <strong>Height</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Weight</mat-label>
            <input matInput formControlName="weight" type="number">
            <mat-error *ngIf="applicantForm.controls['weight'].hasError('required')">
              <strong>Weight</strong>
              required
            </mat-error>
          </mat-form-field>

          <div class="mat-mdc-text-field-wrapper p-2 mb-4 mdc-text-field--filled">
            <mat-label class="h6 ps-2 text-muted">Job Experience</mat-label>
            <mat-radio-group formControlName="food">
              <mat-radio-button class="pe-2" value="Yes" ng-reflect-checked="true">Yes</mat-radio-button>
              <mat-radio-button class="pe-2" value="No">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <!--<mat-form-field appearance="fill" class="f-w mb-1">
    <mat-label>Job Experience</mat-label>
    <input matInput formControlName="jobExperience">
    <mat-error *ngIf="applicantForm.controls['jobExperience'].hasError('required')">
      <strong>Job Experience</strong>
      required
    </mat-error>
  </mat-form-field>-->
        </div>

        <div class="col-6">
          <mat-form-field appearance="fill" class="f-w">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let op of statusOptions" [value]="op.value">{{op.label}}</mat-option>
            </mat-select>
            <mat-error *ngIf="applicantForm.controls['gender'].hasError('required')">
              <strong>Gender</strong> is required
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w">
            <mat-label>Religion</mat-label>
            <mat-select formControlName="religion">
              <mat-option *ngFor="let op of statusOptions2" [value]="op.value">{{op.label}}</mat-option>
            </mat-select>
            <mat-error *ngIf="applicantForm.controls['religion'].hasError('required')">
              <strong>Religion</strong> is required
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w">
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="maritalStatus">
              <mat-option *ngFor="let op of statusOptions1" [value]="op.value">{{op.label}}</mat-option>
            </mat-select>
            <mat-error *ngIf="applicantForm.controls['maritalStatus'].hasError('required')">
              <strong>Marital Status</strong> is required
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w">
            <mat-label>Education</mat-label>
            <mat-select formControlName="education">
              <mat-option *ngFor="let op of statusOptions3" [value]="op.value">{{op.label}}</mat-option>
            </mat-select>
            <mat-error *ngIf="applicantForm.controls['education'].hasError('required')">
              <strong>Education</strong> is required
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Nationality</mat-label>
            <input matInput formControlName="nationality">
            <mat-error *ngIf="applicantForm.controls['nationality'].hasError('required')">
              <strong>Nationality</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber">
            <mat-error *ngIf="applicantForm.controls['phoneNumber'].hasError('required')">
              <strong>Phone Number</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>NID</mat-label>
            <input matInput formControlName="nid">
            <mat-error *ngIf="applicantForm.controls['nid'].hasError('required')">
              <strong>NID</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Birth Certificate No</mat-label>
            <input matInput formControlName="birthCertificateNo">
            <mat-error *ngIf="applicantForm.controls['birthCertificateNo'].hasError('required')">
              <strong>Birth Certificate No</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w mb-1">
            <mat-label>Passsport No</mat-label>
            <input matInput formControlName="passsportNo">
            <mat-error *ngIf="applicantForm.controls['passsportNo'].hasError('required')">
              <strong>Passsport No</strong>
              required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="f-w">
            <mat-label>Passport Expiry</mat-label>
            <input matInput formControlName="passportExpiry" [matDatepicker]="picker1">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="applicantForm.controls['passportExpiry'].hasError('required')"><strong>Passport Expiry</strong> required</mat-error>
          </mat-form-field>



          <mat-form-field appearance="fill" class="f-w">
            <mat-label>Agent</mat-label>
            <mat-select formControlName="agentId">
              <mat-option value="">None</mat-option>
              <mat-option *ngFor="let d of agent" [value]="d.agentId">
                {{d.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="applicantForm.controls['agentId'].hasError('required')">
              <strong>Agent</strong>
              required
            </mat-error>
          </mat-form-field>

          <div class="f-w mb-1 mt-4 d-flex justify-content-center">
            <button type="submit" mat-raised-button color="primary" [disabled]="applicantForm.invalid">Save</button>
          </div>
        </div>
      </div>
      

      




    </form>


  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button [routerLink]="['/applicant']">Back to list</a>
  </mat-card-actions>
</mat-card>
